<template>
    <div>
        <heading class="mb-6">Currency Rates!</heading>
        <card
            class="bg-90 flex flex-col items-center justify-center"
            style="min-height: 300px"
        >
           <h1 class="text-white text-4xl text-90 font-light">
                <b>Current Rates (factor)</b>
                <table>
                  <tr>
                    <th>INR</th>
                    <th>USD</th>
                    <th>GBP</th>
                    <th>EUR</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>{{this.rates.USD || 'fetching...'}}</td>
                    <td>{{this.rates.GBP || 'fetching...'}}</td>
                    <td>{{this.rates.EUR || 'fetching...'}}</td>
                  </tr>
                </table>
            </h1>
            <h1 class="text-white text-4xl text-90 font-light mb-6">
                <b>Convert From INR (Upto 2 decimal)</b>
                <table>
                  <tr>
                    <th>INR</th>
                    <th>USD</th>
                    <th>GBP</th>
                    <th>EUR</th>
                  </tr>
                  <tr>
                    <td><input v-model="inrAmount" placeholder="Enter amount in INR" v-change="getAllConvertedAmounts()"></td>
                    <td>$ {{this.converted.USD.toFixed(2)}}</td>
                    <td>£ {{this.converted.GBP.toFixed(2)}}</td>
                    <td>€ {{this.converted.EUR.toFixed(2)}}</td>
                  </tr>
                </table>
            </h1>
        </card>
    </div>
</template>

<script>
export default {
    created() {
        var URL = 'https://cors-anywhere.herokuapp.com/https://api.exchangeratesapi.io/latest?base=INR';
        return axios(URL,
            {method: 'GET'}, {header: {}})
        .then(response => {
            this.rates = response.data.rates
        })
    },
    mounted() {
        //
    },
    data(){
        return {
            rates:{},
            converted:{},
            inrAmount:0
        }
    },
    methods: {
        getAllConvertedAmounts: function getAllConvertedAmounts(event){
            this.converted.USD = this.rates.USD*this.inrAmount;
            this.converted.GBP = this.rates.GBP*this.inrAmount;
            this.converted.EUR = this.rates.EUR*this.inrAmount;
        }
    }
}
</script>

